<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EXOFiddlerInspector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EXOFiddlerInspector.Properties.Settings>
            <setting name="HTTP502AutodiscoverFalsePositive" serializeAs="String">
                <value>False Positive: By design Office 365 Autodiscover does not respond to autodiscover.contoso.onmicrosoft.com for example on port 443. Validate this message by confirming this is an Office 365 IP address and perform a telnet to the IP address on port 80.
</value>
            </setting>
            <setting name="HTTP403WebProxyBlockingOutlook" serializeAs="String">
                <value>Is your firewall or web proxy blocking Outlook connectivity? Check the Raw and WebView tabs, do you see anything which indicates traffic is blocked? To fire this message a HTTP 403 response code was detected 
and "Access Denied" was found in the response body.</value>
            </setting>
            <setting name="HTTP503FederatedSTSUnavailable" serializeAs="String">
                <value>The fedeation service is unreachable or unavailable. Check the Raw tab for additional details.</value>
            </setting>
            <setting name="HTTPStatusCodesURL" serializeAs="String">
                <value>https://en.wikipedia.org/wiki/List_of_HTTP_status_codes</value>
            </setting>
        </EXOFiddlerInspector.Properties.Settings>
    </applicationSettings>
</configuration>