<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EXOFiddlerInspector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EXOFiddlerInspector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EXOFiddlerInspector.Properties.Settings>
            <setting name="HTTP502AutodiscoverFalsePositive" serializeAs="String">
                <value>HTTP 502: False Positive. By design Office 365 Autodiscover does not respond to autodiscover.contoso.onmicrosoft.com for example on port 443. Validate this message by confirming this is an Office 365 IP address and perform a telnet to the IP address on port 80.</value>
            </setting>
            <setting name="HTTP403WebProxyBlocking" serializeAs="String">
                <value>HTTP 403: Forbidden. Is your firewall or web proxy blocking Outlook connectivity? To fire this message a HTTP 403 response code was detected 
and "Access Denied" was found in the response body. Check the Raw and WebView tabs, do you see anything which indicates traffic is blocked?


</value>
            </setting>
            <setting name="HTTP503FederatedSTSUnreachable" serializeAs="String">
                <value>HTTP 503: FederatedSTSUnreachable.
The fedeation service is unreachable or unavailable. Check the Raw tab for additional details.
Check the realm page for the authenticating domain.
https://login.microsoftonline.com/GetUserRealm.srf?Login=user@contoso.com&amp;xml=1
Expected responses:
AuthURL: Expected to show federation service logon page.
STSAuthURL: Expected to show HTTP 400
MEXURL: Expected to show long stream of XML data.

If any of these show the HTTP 503 Service Unavailable this confirms a consistent failure on the federation service.
If however you get the expected responses, this does not neccessarily mean the federation service / everything authentication is healthy.</value>
            </setting>
            <setting name="HTTPStatusCodesURL" serializeAs="String">
                <value>https://en.wikipedia.org/wiki/List_of_HTTP_status_codes</value>
            </setting>
            <setting name="HTTP200ErrorsFound" serializeAs="String">
                <value>HTTP 200: Errors found in response body. Check the Raw tab, click 'View in Notepad' button bottom right, and search for error in the response to review.
</value>
            </setting>
        </EXOFiddlerInspector.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <EXOFiddlerInspector.Properties.Settings>
            <setting name="HTTP401Unauthorized" serializeAs="String">
                <value>HTTP 401: Unauthorized. These are expected and are not an issue as long as a HTTP 200 is seen for authentication to the server which issued the HTTP 401 unauthorized security challenge.</value>
            </setting>
        </EXOFiddlerInspector.Properties.Settings>
    </userSettings>
</configuration>