<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EXOFiddlerInspector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EXOFiddlerInspector.Properties.Settings>
            <setting name="HTTP502AutodiscoverFalsePositive" serializeAs="String">
                <value>HTTP 502: False Positive. By design Office 365 Autodiscover does not respond to autodiscover.contoso.onmicrosoft.com for example on port 443. 
Validate this message by confirming this is an Office 365 IP address and perform a telnet to the IP address on port 80. 
If you get a response on port 80 and no response on port 443, this is more than likely an Autodiscover VIP which by design redirects the request to a secure Autodiscover resource.</value>
            </setting>
            <setting name="HTTP403WebProxyBlocking" serializeAs="String">
                <value>HTTP 403: Forbidden. Is your firewall or web proxy blocking Outlook connectivity? 
To fire this message a HTTP 403 response code was detected and "Access Denied" was found in the response body. 
Check the Raw and WebView tabs, do you see anything which indicates traffic is blocked?


</value>
            </setting>
            <setting name="HTTP503FederatedSTSUnreachableStart" serializeAs="String">
                <value>HTTP 503: FederatedSTSUnreachable.
The fedeation service is unreachable or unavailable. Check the Raw tab for additional details.
Check the realm page for the authenticating domain.</value>
            </setting>
            <setting name="HTTPStatusCodesURL" serializeAs="String">
                <value>https://en.wikipedia.org/wiki/List_of_HTTP_status_codes</value>
            </setting>
            <setting name="HTTP200ErrorsFound" serializeAs="String">
                <value>HTTP 200: Errors or failures found in response body. Check the Raw tab, click 'View in Notepad' button bottom right, and search for error in the response to review.
</value>
            </setting>
            <setting name="HTTP401Unauthorized" serializeAs="String">
                <value>HTTP 401: Unauthorized. These are expected and are not an issue as long as a subsequent HTTP 200 is seen for authentication to the server which issued the HTTP 401 unauthorized security challenge.</value>
            </setting>
            <setting name="HTTP403Generic" serializeAs="String">
                <value>While HTTP 403's can be symptomatic of a proxy server blocking traffic, the phrase 'Access Denied' was not detected in the response body. A small number of HTTP 403's can be seen in normal working scenarios. Check the Raw and WebView tabs to look for anything which looks suspect.</value>
            </setting>
            <setting name="HTTP429TooManyRequests" serializeAs="String">
                <value>HTTP 429: Kind of sounds bad, needs to be taken into context with the rest of the sessions. A small number is probably not an issue, larger numbers of these could be cause for concern.</value>
            </setting>
            <setting name="HTTP503FederatedSTSUnreachableEnd" serializeAs="String">
                <value>Expected responses:
AuthURL: Normally expected to show federation service logon page.
STSAuthURL: Normally expected to show HTTP 400
MEXURL: Normally expected to show long stream of XML data.

If any of these show the HTTP 503 Service Unavailable this confirms a consistent failure on the federation service.
If however you get the expected responses, this does not neccessarily mean the federation service / everything authentication is healthy.</value>
            </setting>
            <setting name="HTTPQuantity" serializeAs="String">
                <value>The quantity of these types of server errors need to be considered in context with what you are troubleshooting and whether these are relevant or not. A small number is probably not an issue, larger numbers of these could be cause for concern.</value>
            </setting>
            <setting name="HTTP307TemporaryRedirect" serializeAs="String">
                <value>HTTP 307: Temporary Redirects have been seen to redirect Exchange Online Autodiscover calls back to On-Premise resources, breaking Outlook connectivity.
Check the Headers or Raw tab and the Location to ensure the Autodiscover call is going to the correct place.
If this session is not for an Outlook process then the information above may not be relevant to the issue under investigation.</value>
            </setting>
            <setting name="HTTP307IncorrectTemporaryRedirect" serializeAs="String">
                <value>HTTP 307: Temporary Redirects have been seen to redirect Exchange Online Autodiscover calls back to On-Premise resources, breaking Outlook connectivity.
This session has enough data points to be an Autodiscover request for Exchange Online which has not been sent to https://autodiscover-s.outlook.com/autodiscover/autodiscover.xml as expected.
Check the Headers or Raw tab and the Location to ensure the Autodiscover call is going to the correct place.</value>
            </setting>
            <setting name="UpdateURL" serializeAs="String">
                <value>https://raw.githubusercontent.com/jprknight/EXOFiddlerExtension/master/EXOFiddlerInspector/update.xml</value>
            </setting>
            <setting name="InstallerURL" serializeAs="String">
                <value>https://github.com/jprknight/EXOFiddlerExtension/releases/download/1.0.18/EXOFiddlerInspectorInstaller.msi</value>
            </setting>
            <setting name="WikiURL" serializeAs="String">
                <value>https://github.com/jprknight/EXOFiddlerExtension/wiki</value>
            </setting>
            <setting name="ReportIssuesURL" serializeAs="String">
                <value>https://github.com/jprknight/EXOFiddlerExtension/issues</value>
            </setting>
            <setting name="HTTP502BadGateway" serializeAs="String">
                <value>Potential to cause the issue you are investigating. Do you see expected responses beyond this session in the trace? Is this an Exchange On-Premise, Exchange Online or other device?</value>
            </setting>
            <setting name="ApacheAutodiscover" serializeAs="String">
                <value>An Apache Web Server (Unix/Linux) is answering Autodiscover requests! This should not be happening.
Consider disabling Root Domain Autodiscover lookups. 
See ExcludeHttpsRootDomain on https://support.microsoft.com/en-us/help/2212902/unexpected-autodiscover-behavior-when-you-have-registry-settings-under
Beyond this, the customer needs their web administrator responsible for the server answering the calls to stop the Apache web server from answering to Autodiscover.</value>
            </setting>
        </EXOFiddlerInspector.Properties.Settings>
    </applicationSettings>
</configuration>